:root {
  --bulma-primary-h: 360deg;
}

.scrollable {
    height      : 60vh;   /* Set a fixed height           */
    overflow-y  : auto;     /* Enable vertical scrolling    */
    overflow-x  : hidden;   /* Hide horizontal scrolling    */
}

.scrollable::-webkit-scrollbar {
    width       : 0px;
}

.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.panel-tabs>.button {
    box-shadow: none;
}

.button.has-text-left {
    text-align: left !important;
    justify-content: flex-start; /* For flexbox alignment */
}

.arrow-button {
    border: none;
    box-shadow: none;
}

.arrow-icon {
    transition: transform 0.2s ease;
}

.rotated {
    transform: rotate(-180deg);
}

.hide-on-desktop {
    display: none;
}

.hide-on-mobile {
    display: block;
}


@media screen and (max-width: 768px) {
    .panel-tabs {
        display                 : grid;
        grid-template-columns   : 1fr 1fr 1fr; /* 3 columns */
        grid-template-rows      : repeat(2, 1fr); /* 2 rows */
        gap                     : 0;
    }
    
    .panel-tabs a {
        text-align      : center;
        border          : 1px solid #dbdbdb;
        border-radius   : 4px;
    }

    .hide-on-desktop {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }
}