:root {
  --bulma-primary-h: 360deg;
}

.scrollable {
    height      : calc(100vh - 450px);   /* Full viewport minus header/progress area */
    overflow-y  : auto;     /* Enable vertical scrolling    */
    overflow-x  : hidden;   /* Hide horizontal scrolling    */
}

.scrollable::-webkit-scrollbar {
    width       : 0px;
}

.is-disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;
}

.button.has-text-left {
    text-align: left !important;
    justify-content: flex-start; /* For flexbox alignment */
}

.hide-on-desktop {
    display: none;
}

.hide-on-mobile {
    display: block;
}

.progress {
    transition: all 0.5s ease-in-out;
}

.progress::-webkit-progress-value {
    transition: width 0.5s ease-in-out;
}

.progress::-moz-progress-bar {
    transition: width 0.5s ease-in-out;
}

.arrow-block {
    border-width: 0;
    color: #2e333d;
    justify-content: center;
    text-align: center;
    border-style: solid;
    box-shadow: none;
    font-size: 1rem;
    height: 2.5em;
    transition: all 0.2s ease-in-out;
}

.is-hidden>* {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .panel-tabs {
        display                 : grid;
        grid-template-columns   : 1fr 1fr 1fr; /* 3 columns */
        grid-template-rows      : repeat(2, 1fr); /* 2 rows */
        gap                     : 0;
    }
    
    .panel-tabs a {
        text-align      : center;
        border          : 1px solid #dbdbdb;
        border-radius   : 4px;
    }

    .hide-on-desktop {
        display: block;
    }

    .hide-on-mobile {
        display: none;
    }
}